Repository Globastu/globapay-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm --filter @globapay/api test:unit --run --reporter=basic, pnpm --filter @globapay/web test:unit --run --reporter=basic

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ],
  "apps/api/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write",
    "pnpm --filter @globapay/api test:unit --run --reporter=basic"
  ],
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix", 
    "prettier --write",
    "pnpm --filter @globapay/web test:unit --run --reporter=basic"
  ]
}

fix: add fallback for split() array access in fraud page
  apps/web/src/app/fraud/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: use conditional spread for optional properties in merchant page
  apps/web/src/app/merchants/[id]/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: replace invalid Badge variants in status helper functions
  apps/web/src/app/merchants/[id]/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: replace inline Badge variant 'success' with 'default' in documents section
  apps/web/src/app/merchants/[id]/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: use conditional spread for Select value prop in merchants page
  apps/web/src/app/merchants/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: replace invalid Badge variants in merchant list page helper functions
  apps/web/src/app/merchants/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix CheckoutSession exactOptionalPropertyTypes error in pay page
  apps/web/src/app/pay/[code]/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix array access undefined error in payment-links new page
  apps/web/src/app/payment-links/new/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix Badge variant 'success' error in platforms page
  apps/web/src/app/platforms/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix LucideIcon type error in settings page
  apps/web/src/app/settings/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix Badge variant 'success' error in transactions page
  apps/web/src/app/transactions/page.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix PaymentResult type error in StubCheckout component
  apps/web/src/components/checkout/StubCheckout.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix all PaymentResult error properties in StubCheckout component
  apps/web/src/components/checkout/StubCheckout.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix final error property reference in StubCheckout component
  apps/web/src/components/checkout/StubCheckout.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Add missing @heroicons/react dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix Heroicons type error in sidebar component
  apps/web/src/components/navigation/sidebar.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Add missing Separator component and export
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/separator.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix fraudScore undefined error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix Badge variant 'success' error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix 3DS Badge variant 'success' error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix refund Badge variant 'success' error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix event Badge variant 'success' error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix route Badge variant 'success' error in TransactionDetailDrawer
  apps/web/src/components/transactions/TransactionDetailDrawer.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix NextAuth secret exactOptionalPropertyTypes error
  apps/web/src/lib/auth.ts
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix GlobapayClientConfig baseUrl exactOptionalPropertyTypes error
  apps/web/src/lib/auth.ts
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

Fix mock latency undefined error in mock-latency-control
  apps/web/src/lib/mock-latency-control.ts
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: resolve exactOptionalPropertyTypes error for GlobapayError instance property
  packages/sdk/src/utils.ts
Due: eslint --fix, prettier --write

fix: configure Vercel for monorepo deployment with correct root directory
  vercel.json
Due: prettier --write

fix: simplify Vercel config to let Next.js auto-detect build settings
  vercel.json
Due: prettier --write

fix: resolve CI failures blocking Vercel deployment
  .github/workflows/ci.yml
  packages/config/package.json
  packages/config/tsconfig.json
Due: prettier --write

fix: resolve Vercel routes-manifest.json path issue
  vercel.json
Due: prettier --write

fix: use pnpm workspace filter instead of cd command for Vercel build
  vercel.json
Due: prettier --write

fix: copy Next.js build output to repo root for Vercel deployment
  vercel.json
Due: prettier --write

debug: add ls command to see what's in apps/web after build
  vercel.json
Due: prettier --write

debug: check repo root and apps directory structure
  vercel.json
Due: prettier --write

fix: remove unnecessary copy command - .next already exists in correct location
  vercel.json
Due: prettier --write

fix: resolve server-side runtime error with environment variables
  VERCEL_ENV_SETUP.md
  apps/web/.env.production
  apps/web/src/lib/auth.ts
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

feat: transform dashboard into production-quality enterprise SaaS platform
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/charts/area-chart.tsx
  apps/web/src/components/charts/bar-chart.tsx
  apps/web/src/components/charts/line-chart.tsx
  apps/web/src/components/charts/metric-card.tsx
  apps/web/src/components/charts/pie-chart.tsx
  apps/web/src/components/layouts/dashboard-layout.tsx
  apps/web/src/components/navigation/dashboard-topbar.tsx
  apps/web/src/components/navigation/enhanced-sidebar.tsx
  apps/web/src/components/providers.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/states/empty-state.tsx
  apps/web/src/components/states/error-state.tsx
  apps/web/src/components/states/loading-state.tsx
  apps/web/src/components/states/state-wrapper.tsx
  apps/web/src/components/theme-script.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/lib/utils.ts
  apps/web/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: resolve TypeScript errors in chart components
  apps/web/src/components/charts/area-chart.tsx
  apps/web/src/components/charts/bar-chart.tsx
  apps/web/src/components/charts/pie-chart.tsx
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic

fix: resolve additional TypeScript errors for deployment
  apps/web/src/components/navigation/enhanced-sidebar.tsx
  apps/web/src/components/states/state-wrapper.tsx
  apps/web/src/lib/utils.ts
Due: eslint --fix, prettier --write, pnpm --filter @globapay/web test:unit --run --reporter=basic
